@charset "UTF-8";
/* Taphouse Stylesheet */

@font-face {
    font-family: 'loveloblack';
    src: url('../fonts/lovelo_black-webfont.eot');
    src: url('../fonts/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lovelo_black-webfont.woff2') format('woff2'),
         url('../fonts/lovelo_black-webfont.woff') format('woff'),
         url('../fonts/lovelo_black-webfont.ttf') format('truetype'),
         url('../fonts/lovelo_black-webfont.svg#loveloblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "glyph";
    src: url("../fonts/glyphicons-halflings-regular.woff") format('woff');
}
.glyphicon {
	font-family:glyph;
	position:relative;
	top:4px;
}
a .glyphicon {
	text-decoration:none;
	color:inherit;
}
h1, h2 {
	font-family:loveloblack;
}

/* UTILTY */

.clear {
	clear:both;
}
.bold {
	font-weight:bold;
}

:not(.DisableSelectingForEverything) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canselect {
	-webkit-touch-callout: default;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

button,
input[type="color"]:-moz-system-metric(color-picker-available),
input[type="reset"],
input[type="button"],
input[type="submit"] {
  -moz-appearance: none !important;
  background-image: none !important;
}

/* LOADER */

#loader-overlay {
  background: #000000;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
}
.loaded #loader-overlay {
  display: none;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* STYLES */

#header {
	height:133px;
	background:url(../images/top-bar.jpg);
	text-align:center;
	z-index:1000;
	position:relative;
}

/* MAIN MENU */

#main-container {
	background-color:#F4F4F4;
}

#taphouse-mainmenu ul,
#taphouse-diningmenu ul {
	list-style:none;
}

#taphouse-diningmenu ul {
  margin-top: -133px;
}

#taphouse-mainmenu ul li,
#taphouse-diningmenu ul li {
	float:left;
  display: block;
	/*opacity:.5;*/
	transition:ease 0.5s;
	position:relative;
	width:480px;
	overflow:hidden;
}

#taphouse-diningmenu ul li {
  height: 730px;
}

#taphouse-diningmenu ul li.diningmenu5 {
  clear: left;
  float: none;
  width: 1920px;
  height: 350px;
}

#taphouse-mainmenu ul img,
#taphouse-diningmenu ul img {
  display: block;
	transition:ease 2s;
	opacity:.6;
}

#taphouse-mainmenu ul .active img,
#taphouse-diningmenu ul .active img {
	opacity:1;
	transform:scale(1.1,1.1);
}

#taphouse-mainmenu .panel-border,
#taphouse-diningmenu .panel-border {
	position:absolute;
	bottom:120px;
	left:34px;
	width:400px;
	height:140px;
	border:solid 3px black;
	padding:3px;
}
#taphouse-diningmenu .panel-border {
  border-width: 0;
	height: 80px;
  top: 193px;
  left: 50%;
  transform: translateX(-50%);
}
#taphouse-diningmenu .diningmenu5 .panel-border {
	padding: 1px;
  top: 200px;
	left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 80px;
  color: white;
  border: 2px solid #ab9769;
}

#taphouse-mainmenu .panel,
#taphouse-diningmenu .panel {
	background-color:black;
	height:100%;
	opacity:.9;
}

#taphouse-diningmenu .diningmenu5 .panel {
	background-color: #aa9868;
  opacity: 1;
}

#taphouse-mainmenu .panel h1,
#taphouse-diningmenu .panel h1 {
	font-family:loveloblack;
	color:white;
	text-align:center;
	font-size: 30px;
  position: absolute;
    top: 50%;
  	left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#taphouse-diningmenu .diningmenu5 .bottom-text {
	background-color: #ab9769;
  color: #ffffff;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  height: 110px;
	padding: 24px 42px;
  box-sizing: border-box;
}

#taphouse-diningmenu .diningmenu5 .bottom-text #count_label {
  color:#ffffff;
  font-family: loveloblack;
	float: left;
  font-size: 24px;
  line-height: 64px;
}
#taphouse-diningmenu .diningmenu5 .bottom-text .big-number {
	color:#ffffff;
  font-family: loveloblack;
	font-size:64px;
  line-height: 64px;
	float:left;
	width: 80px;
  text-align: center;
}

#taphouse-diningmenu .diningmenu5 .bottom-text .arrow-div {
	float:right;
}
#taphouse-diningmenu .diningmenu5 .bottom-text .arrow {
	color: #ab9769;
    background-color: white;
    display: block;
    box-sizing: border-box;
    height: 30px;
    margin-bottom: 4px;
    padding-top: 4px;
    width: 30px;
	text-align:center;
}
#taphouse-diningmenu .diningmenu5 .bottom-text .arrow .glyphicon {
  vertical-align: top;
}

/* HOTEL */
#hotel-col1-scroll {
	float:left;
	width:1000px;
	overflow:hidden;
	z-index:100;
	position:relative;
	transition:ease 0.5s;
	left:0;
}
#hotel-col1-scroll.move {
	left:-1000px;
}

#hotel-col1 {
	overflow-y:auto;
	width:1015px;
	height:947px;
	background-color:#f4f4f4;
}

#room-list li {
	clear:both;
}

#room-list li img {
	display:block;
}

#room-list .col1 {
	float:left;
	clear:left;
	width:490px;
}

#room-list .col2 {
	float:left;
	width:470px;
	height:346px;
	background:white;
}

#room-list li .arrow {
	float:left;
}

#room-list li.active .col2 {
	background-color:#e8ddc4;
}
#room-list li.active .arrow {
	width: 0;
	height: 0;
	border-top: 173px solid rgba(255, 255, 255, 0);
	border-bottom: 173px solid rgba(255, 255, 255, 0);
	border-left: 40px solid #e8ddc4;
	-moz-transform: scale(.9999);
}

#room-list .col2-cont {
	padding:80px 40px;
}
#room-list .col2-cont h1 {
	font-size:30px;
	padding-bottom:10px;
}
#room-list .col2-cont p {
	line-height:1.4;
	padding-left:1px;
}
#room-list .col2-cont .roomprice {
	font-weight:bold;
	padding-top:10px;
}
#room-list .button-fill {
	background-color: #ab9769;
    border: 1px solid white;
    color: white;
    font-family: loveloblack;
	font-size:30px;
    margin: 10px 4px;
    outline: 2px solid #ab9769;
    padding: 6px 12px;
    position: relative;
    top: 30px;
}

#hotel-col2 {
	float:left;
	width:920px;
	height:947px;
	background-color:#f4f4f4;
	text-align:center;
	padding-top:40px;
	transition:ease 0.5s;
	position: relative;
	left:0;
	opacity:1;
	z-index:20;
}
#hotel-col2.move {
	left: -1000px;
    z-index: 100;
	opacity:1;
}
#hotel-col2 h1 {
	font-size:30px;
}

#hotel-col2 #col2-overlay {
	position:absolute;
	width:920px;
	height:870px;
	background-color:#F4F4F4;
	z-index:100;
}
#hotel-col2 #col2-overlay h1 {
	margin-top:400px;
	color:#CCC;
	font-size:50px;
}

#hotel-col3 {
	position:absolute;
	right:0;
	width:960px;
	height:1080px;
	z-index:10;
	background-color:#E8DDC4;
	text-align:center;
  padding-top: 40px;
}
#hotel-col3 #price-div {
  width: 705px;
  margin: 160px auto 0px auto;
  font-family: loveloblack;
}
#hotel-col3 h1 {
	font-size:30px;
}
#hotel-col3 .big-number {
  color: #AB9769;
  font-size: 120px;
  line-height: 1em;
  text-align: center;
  margin-top: 16px;
}
#hotel-col3 label {
  font-size: 20px;
  line-height: 1em;
  margin-top: 100px;
  display: block;
}
#hotel-col3 #contact-input {
  color: #ab9769;
  border: 1px solid #000000;
  font-family: "Helvetica Neue" sans-serif;
  font-weight: 700;
  height: 100px;
  width: 100%;
  margin-top: 20px;
  display: block;
  font-size: 56px;
  line-height: 92px;
  padding: 4px;
}
#hotel-col3 .button-fill {
  background-color: #ab9769;
  border: 1px solid white;
  color: white;
  font-family: loveloblack;
  font-size:40px;
  margin: 10px 4px;
  outline: 2px solid #ab9769;
  padding: 6px 12px;
  position: relative;
  top: 45px;
}

/* CALENDAR */
.calendar-cont {
	width:710px;
	margin:0 auto;
	background-color:white;
	margin-top:15px;
	position:relative;
}
.calendar-cont #calendar-overlay {
	background-color: white;
    position: absolute;
    text-align: center;
    width: 710px;
    z-index: 99;
	height: 460px;
}
.calendar-cont #calendar-overlay h1 {
	margin-top: 20px;
    padding: 10px;
	color:#ab9769;
}
.calendar-cont .calendar-daylabelsdiv {
	padding:0 5px;
	background-color:#ab9769;
}
.calendar-cont .calendar-daylabels li {
	float:left;
	width:100px;
	text-align:center;
	color:white;
	font-family:loveloblack;
	padding:10px 0;
}
.calendar-cont .calendar-daysdiv {
	padding:5px;
}
.calendar-cont .calendar-days li {
	float:left;
	width:100px;
	text-align:center;
	font-family:loveloblack;
	font-size:22px;
}
.calendar-cont .calendar-days li a div {
	padding:20px 0;
	margin:5px;
	color:#ab9769;
}
.calendar-cont .calendar-days li a.active div {
	background-color:#fff568;
}
.calendar-cont .calendar-days li a.disabled div {
	background-color:#e0e0e0;
}
.calendar-cont .calendar-days li a.disabled.active div {
	background-color:#c0c0c0;
}
.calendar-monthselectdiv {
	margin:0 auto;
	width:290px;
	text-align:center;
}
.calendar-monthselectdiv h1 {
	font-size:24px;
	color:#ab9769;
	padding:10px;
	float:left;
	width:150px;
	margin-top:10px;
}
.move .calendar-monthselectdiv h1 {
	width: 280px;
}
.b_month {
	background-color: #ab9769;
    color: white;
    display: block;
    float: left;
    font-weight: bold;
    height: 35px;
    margin: 5px 0;
    padding-top: 13px;
    vertical-align: middle;
    width: 60px;
}

/* CONTACT */
.name-div {
	width:705px;
	margin:0 auto;
	font-family:loveloblack;
	margin-top:10px;
}
.name-div .col .label {
	font-size:20px;
	margin-top:25px;
}

/* CONTACT */
.contact-div {
	width:705px;
	margin:0 auto;
	font-family:loveloblack;
	margin-top:10px;
}
.contact-div .col .label {
	font-size:20px;
	margin-top:25px;
}

/* CLOCK */
.clock-cont {
	width:705px;
	margin:0 auto;
	font-family:loveloblack;
	margin-top:10px;
}
.clock-cont .col {
	float:left;
	width:235px;
}
.clock-cont .col .label {
	font-size:20px;
	margin-top:25px;
}

.col-header:not(:first-of-type) {
  margin-top: 35px;
}

/* BOOKING */
#book-div {
	width:705px;
	margin:0 auto;
	font-family:loveloblack;
	margin-top:10px;
}
#book-div .col {
	float:left;
	width:235px;
}
#book-div .col .label {
	font-size:20px;
	margin-top:25px;
}
#book-div .col .label .sub {
	font-size:14px;
}
#book-div .col .top-text {
	color:#ab9769;
	font-size:34px;
}
#book-div .col .bottom-text {
	width:120px;
	margin:10px auto;
	clear:both;
}
#book-div .col .big-number {
	color:#ab9769;
	font-size:74px;
	float:left;
	width: 70px;
	margin-top: 8px;
}
.move #book-div .col .big-number {
	width: 120px;
}
#book-div .arrow-div {
	float:right;
}
#book-div .arrow-div .arrow {
	background-color: #ab9769;
    color: white;
    display: block;
    height: 33px;
    margin-bottom: 5px;
    padding-top: 7px;
    width: 40px;
	text-align:center;
}
#book-div .button-fill {
	background-color: #ab9769;
    border: 1px solid white;
    color: white;
    font-family: loveloblack;
	font-size:40px;
    margin: 10px 4px;
    outline: 2px solid #ab9769;
    padding: 6px 12px;
    position: relative;
    top: 45px;
}
#book-div #booking-next.disabled {
	opacity:0.5;
}

/* DINING */
#dining-col2-scroll {
	float:left;
	width:1000px;
	overflow:hidden;
	z-index:100;
	position:relative;
	transition:ease 0.5s;
	left:0;
}
#dining-col2-scroll.move {
	left:-1000px;
}

#dining-col2 {
	overflow-y:auto;
	width:1015px;
	height:947px;
	background-color:transparent;
}

#venue-list li {
	clear:both;
}

#venue-list li img {
	display:block;
}

#venue-list .col1 {
	float:left;
	clear:left;
	width:490px;
}

#venue-list .col2 {
	float:left;
	width:470px;
	height:346px;
	background:white;
  position: relative;
}

#venue-list li .arrow {
	float:left;
}

#venue-list li.separator {
  background-color: #ab9769;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "loveloblack";
  font-size: 28px;
  line-height: 1em;
  padding: 22px;
  width: 960px;
}
#venue-list li.separator.success {
  background-color: #679428;
}

#venue-list li.active .col2 {
	background-color:#e8ddc4;
}
#venue-list li.active .arrow {
	width: 0;
	height: 0;
	border-top: 173px solid rgba(255, 255, 255, 0);
	border-bottom: 173px solid rgba(255, 255, 255, 0);
	border-left: 40px solid #e8ddc4;
	-moz-transform: scale(.9999);
}

#venue-list .col2-cont {
	padding:40px 40px;
}
#venue-list .col2-cont h1 {
	font-size:30px;
	padding-bottom:10px;
}
#venue-list .col2-cont .cuisine {
  color: #ab9769;
  font-family: loveloblack;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 5px;
}
#venue-list .col2-cont .availability {
  color: #ab9769;
  font-family: loveloblack;
  font-size: 18px;
  line-height: 22px;
  padding-top: 5px;
}
#venue-list .success .col2-cont .availability {
  color: #679428;
}
#venue-list .col2-cont p {
	line-height:1.4;
	padding-left:1px;
}
#venue-list .button-fill {
  background-color: #aaaaaa;
  border: 1px solid white;
  color: white;
  font-family: loveloblack;
  font-size:30px;
  margin: 10px 4px;
  outline: 2px solid #aaaaaa;
  padding: 6px 12px;
  position: relative;
  top: 30px;
}
#venue-list .button-fill.active {
	background-color: #ab9769;
  outline: 2px solid #ab9769;
}

#dining-col3 {
	float:left;
	width:920px;
	height:947px;
	background-color:#f4f4f4;
	text-align:center;
	padding-top:100px;
	transition:ease 0.5s;
	position: relative;
	left:0;
	opacity:1;
	z-index:20;
  box-sizing: border-box;
}
#dining-col3.move {
	left: -1000px;
    z-index: 100;
	opacity:1;
}
#dining-col3 .col {
	float:none;
	width:auto;
}
#dining-col3 h1 {
	font-size:30px;
}

#dining-col3 #col3-overlay {
	position:absolute;
	width:920px;
	height:847px;
	background-color:#F4F4F4;
	z-index:100;
}
#dining-col3 #col3-overlay h1 {
	margin-top:340px;
	color:#CCC;
	font-size:50px;
}

#dining-col3 label {
  font-size: 20px;
  line-height: 1em;
  margin-top: 100px;
  display: block;
}
#dining-col3 #contact-input,
#dining-col3 #name-input {
  color: #ab9769;
  border: 1px solid #000000;
  font-family: "Helvetica Neue" sans-serif;
  font-weight: 700;
  height: 70px;
  width: 100%;
  margin-top: 10px;
  display: block;
  font-size: 36px;
  line-height: 62px;
  padding: 4px;
}

#dining-col3 .button-fill {
  background-color: #ab9769;
  border: 1px solid white;
  color: white;
  font-family: loveloblack;
  font-size:40px;
  margin: 10px 4px;
  outline: 2px solid #ab9769;
  padding: 6px 12px;
  position: relative;
  top: 45px;
}

#dining-col3 .clock-cont .button-fill {
  background-color: #aaaaaa;
  border: 1px solid white;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-family: loveloblack;
  font-size:24px;
  line-height: 34px;
  margin: 10px 4px;
  outline: 1px solid #aaaaaa;
  padding: 6px 12px;
  position: relative;
  width: 120px;
  cursor: pointer;
  top: 0;
}
#dining-col3 .clock-cont .button-fill.disabled {
    background-color: #d6d6d6;
    outline: 1px solid #d6d6d6;
}
#dining-col3 .clock-cont .button-fill.active {
  background-color: #ab9769;
  outline: 1px solid #ab9769;
}

#dining-col3 #col3-overlay .map img {
  position: absolute;
  top: -100px;
  left: -40px;
}
#dining-col3 #col3-overlay .specials {
  width: 880px;
}
#dining-col3 #col3-overlay .specials h1 {
  margin-top: 0 !important;
  color: #666 !important;
  font-size: 30px !important;
  margin-bottom: 36px;
}
#dining-col3 #col3-overlay .specials .dining-special {
  float: left;
  width: 375px;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 100px;
}
#dining-col3 #col3-overlay .specials .dining-special:first-child {
  margin-left: 40px;
  margin-right: 50px;
}
#dining-col3 #col3-overlay .specials .heading {
  font-family: "loveloblack";
  color: #ab9769;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin-top: 24px;
}
#dining-col3 #col3-overlay .specials p {
  font-size: 16px;
  line-height: 24px;
}

/* DINING - EXPLORE MORE */
.dining-explore-more {
  background-color: #25292d;
  height: 1080px;
}

#you {
  display: block;
  position: absolute;
  top: 560px;
  left: 940px;
  height: 345px;
  width: 345px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#you img {
  display: block;
}

#traffic-1 {
  top: 668px;
  left: 198px;
}
#traffic-2 {
  top: 368px;
  left: 428px;
}
#traffic-3 {
  top: 560px;
  left: 940px;
}
#traffic-4 {
  top: 690px;
  left: 1463px;
}
#traffic-5 {
  top: 312px;
  left: 1602px;
}
.traffic {
  display: block;
  position: absolute;
  height: 345px;
  width: 345px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.traffic img {
  display: block;
}
.traffic .badge {
  color: #ffffff;
  font-family: "Helvetica Neue" sans-serif;
  font-size: 32px;
  line-height: 60px;
  font-weight: 100;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 132px;
  left: 217px;
  transform: translate(-50%, -50%);
  text-align: center;
}
.traffic .badge.red {
  background: #e30513;
}
.traffic .badge.yellow {
  background: #f9b233;
}
.traffic .badge.gray {
  background: #b2b2b1;
}

#star {
  display: block;
  position: absolute;
  top: 326px;
  left: 1138px;
  transform: translate(-50%, -50%);
}
#star img {
  display: block;
}
#star img.animate {
  animation: star 4s linear infinite;
}
@keyframes star {
  0% { transform: rotate(0deg) scale(1.0); opacity: 1; }
  50% { transform: rotate(180deg) scale(1.5); opacity: 0.5; }
  100% { transform: rotate(0deg) scale(1.0); opacity: 1; }
}

#up {
  display: block;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translate(-50%, 0);
}
#up img {
  display: block;
  margin: 0 auto;
}
#up .title {
  color: #ab9769;
  font-family: "loveloblack", sans-serif;
  font-size: 76px;
  line-height: 1em;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
}
#up .title .white {
  color: #ffffff;
}

#down {
  display: block;
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, 0);
}
#down img {
  display: block;
  margin: 0 auto;
  opacity: 1 !important;
}

#back, #admin {
  position: absolute;
  right: 25px;
  top: 70px;
  box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 1) inset;
  color: rgb(175, 175, 175);
  font-family: "loveloblack";
  font-size: 24px;
  line-height: 1em;
  padding: 8px 40px;
  text-align: center;
  display: block;
}

#map-focus {
  position: absolute;
  top: 166px;
  left: 80px;
}

#dining-venue {
  position: absolute;
  right: 80px;
  top: 166px;
  padding: 30px;
  text-align: center;
}
#dining-venue .title {
  color: #ab9769;
  font-family: "loveloblack", sans-serif;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
#dining-venue .menu {
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
  margin-bottom: 1em;
}
#dining-venue .footnote {
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 1em;
}
#dining-venue .extra {
  text-align: left;
}
#dining-venue .extra .subtitle {
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
}
#dining-venue .extra input {
  vertical-align: middle;
}
#dining-venue .extra input[type="checkbox"] {
    display:none;
}
#dining-venue .extra input[type="checkbox"] + label span {
    display:inline-block;
    width:29px;
    height:24px;
    background: transparent url('../images/unchecked.png') left top no-repeat;
    margin: -1px 20px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
#dining-venue .extra input[type="checkbox"]:checked + label span {
  background: transparent url('../images/checked.png') left top no-repeat;
}
#dining-venue .extra label {
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  vertical-align: middle;
}
#dining-venue .price,
#dining-venue .price-input {
  color: #ab9769;
  font-family: "loveloblack", sans-serif;
  font-size: 68px;
  line-height: 82px;
  margin-bottom: 0.5em;
}
#dining-venue .price-input {
  background: transparent;
  border: 3px solid #ffffff;
  height: 93px;
  text-align: center;
  width: 170px;
}
#dining-venue .distance {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 44px;
  text-transform: lowercase;
}
#dining-venue .btn-default {
  width: 450px;
}
.btn-group {
  margin-bottom: 0.5em;
}
.btn {
  background: transparent none;
  border: 0;
  border-radius: 0;
  color: #ffffff;
  display: inline-block;
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
  outline: 0;
  margin-right: 0.5em;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
}
.btn:last-child {
  margin-right: 0;
}
.btn-default {
  background-color: #ab9769;
  font-family: "loveloblack", sans-serif;
}
.btn-link {
  font-size: 24px;
  font-weight: 300;
  line-height: 44px;
  text-transform: lowercase;
}

blockquote {
  color: #ffffff;
  quotes: "\201C""\201D""\2018""\2019";
  position: relative;
  width: auto;
  display: inline-block;
  padding: 0 50px;
  margin-top: 1em;
}

blockquote:before {
  color: #ab9769;
  content: open-quote;
  font-size: 4em;
  line-height: 0.25em;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(50%);
}
blockquote:after {
  color: #ab9769;
  content: close-quote;
  font-size: 4em;
  line-height: 0.25em;
  position: absolute;
  right: 0;
  bottom: 0;
}
blockquote p {
  font-size: 36px;
  font-style: italic;
  line-height: 44px;
}
blockquote p:last-child {
  text-align: right;
}

[role="button"] {
  cursor: pointer;
}

#myModal {
  width: 60%;
  margin: 0 auto;
}
#myModal .modal-body p {
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 46px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0.5em 0;
}

#myModal .contact-input {
  color: #c6c6c5;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 46px;
  font-weight: 300;
  line-height: 92px;
  margin-bottom: 0.5em;
  background: #ffffff;
  border: 3px solid #ab9769;
  text-align: center;
  width: 920px;
}

/* Glyphicon styles */
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}

/* Modal styles */
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10050;
  outline: 0;
}
.modal.fade .modal-dialog {
  transform: translate(0, -100%);
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  transform: translate(0, 50%);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: transparent;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.in {
  opacity: 0.8;
}
.modal-header {
  color: #ab9769;
  font-family: "loveloblack", sans-serif;
  font-size: 74px;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
  text-align: center;
}
.modal-footer {
  padding: 15px;
  text-align: center;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-footer:after {
  clear: both;
}

/* Carousel styles */
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d) {
  .carousel-inner > .item {
    transition: transform 0.6s ease-in-out;
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.4;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  display: block;
}
.carousel-control.left {
  left: 0;
  right: auto;
}
.carousel-control.right {
  left: auto;
  right: 0;
}
.carousel-control:hover,
.carousel-control:focus {
  outline: 0;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  height: 74px;
  margin-top: -15px;
  font-size: 74px;
  line-height: 1em;
  position: absolute;
  top: 50%;
  z-index: 10000;
  display: inline-block;
  transform: translateY(-50%);
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -89px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -89px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
